html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(
      rgba(34,34,34,0.60),
      rgba(255, 0, 0, 0.4)
    ),
      url('./img/bg_image.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Monoton', cursive;
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-size: 4em;
}

.modal-title {
  margin: auto;
  font-size: 1.5em;
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 5px 8px rgba(34,34,34,0.8);
  background-color: rgba(8,50,75,0.95);
  border-color: black;
}

.card img {
  width: 100px;
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

.drink-btn {
  text-align: center;
}

.selectIngredient1 {
  text-align: center;
}

.btn-primary {
  background-color: #052233;
  border-color: #106597;
}

.btn-primary:hover {
  background-color: #052233;
  border-color: #106597;
}

#ingredient1Selector {
  background-color: rgb(34,34,34);
  color: white;
  height: 35px;
}
